* {
	box-sizing: border-box;
	font-family:"Prompt", sans-serif;
}

body, html {
	font-size: 16px;
	color: rgba(0,0,0, .87);
	margin: 0;
	font-weight :500;
}
 											/*Header*/
.topbar {
	position: fixed;
	display:flex;
	top: 0;
	left: 0;
	width: 100%;
	height: 105px;
	background-color: #FFF;
	box-shadow: 0 4px 2px rgba(0, 0, 0, 0.2);
	z-index: 3;
}

.topbar nav {
	float: left;
	padding: 30px;
}


#icone-panier {
	width: 32px;
	height: auto;
	position: fixed;
	right: 72px;
  top:35px;
  z-index: 10;
}
.nbArt{
	border-radius: 20px;
	background-color: red;
	opacity: 0.9;
	color: white;
	font-size: 11px;
	position: fixed;
	top: 30px;
	right: 58px;
	width: 20px;
	height: 20px;
	z-index: 11;
	text-align: center;
	line-height: 20px;
}


.topbar nav a {
	color: #9F9F9F;
	text-decoration: none;
	font-weight: 500;
	margin: 0 53px;
}
.topbar nav a:hover, .topbar nav a.active {
	color: #000;
}

						/*Titre du site */

.button-home{
  display:flex;
  flex-direction:column;
  text-align: center;
  width: 100%;
  margin-left: 30%;
  padding-top: 5px;
}

#logoSite {
	width:45px;
	margin: auto;
	opacity: 	0.8;
  }

#titreSite {
	height: 30px;
	padding-top: 1px;
	opacity: 	0.8;
  } 
  

.site-title a, .site-title a h1 {
	text-decoration: none;
	color: #9F9F9F;
}


					/*Notre carrousel !*/

.banniere {
  max-width: 100%;
  display: block;
  margin-top: 105px;
}

.slider-wrapper {
  margin: 0;
  position: relative;
  overflow: hidden;
}

.slides-container {
  height: 350px;
  width: 100%;
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slides-container {
    scrollbar-width: none; 
}
 
 /* WebKit */
 
.slides-container::-webkit-scrollbar { 
    width: 0;
    height: 0;
}
.slide-arrow {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 4rem;
  background-color: white;
  border: none;
  width: 2rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
}

.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
}

#slide-arrow-prev {
  	left: 0;
  	padding-left: 0.25rem;
  	border-radius: 0 2rem 2rem 0;
}

#slide-arrow-next {
		right: 0;
  	padding-left: 0.75rem;
  	border-radius: 2rem 0 0 2rem;
}

.slide {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}
.slide:nth-child(1) {
  background-image: url("https://i.postimg.cc/x8t1Yz35/vaisseaux.jpg");
  background-size: cover;
}

.slide:nth-child(2) {
  background-image: url("https://i.postimg.cc/4yrp6qjj/paysage.jpg");
  background-size: cover;

}
.slide:nth-child(3) {
  background-image: url("https://i.postimg.cc/3R2yMNqf/planete.jpg");
  background-size: cover;
}

.slide:nth-child(4) {
  background-image: url("https://i.postimg.cc/FRbKWqf2/sun.jpg");
  background-size: cover;
}



													/*MAIN*/

.mainAndAside{
	width:100%;
	position: relative;
	display: flex;
	justify-content: space-between;
}
.main{
	padding: 50px;
	width: 60%;

}
.article{
	padding: 50px;
	width : 900px;
	max-height: 300px;
	border: 1px solid lightgrey;
	display: inline-flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 25px;
}

.article-img{
	margin: auto;
	width: 150px;
}
.article-img img{
	width: 100%;
}

.total-count{
	width: 40px;
	margin: auto;
	text-align: center;
}
h2{
	font-size: 1.4rem;
	color: Grey;
	text-decoration: none;
	line-height: 1.1rem;
	text-align: center;
	width: 100px;
}

.article a{
	text-decoration: none;
	color: inherit;
}

.prixProduit{
	font-size: 1.4rem;
	color: #292c2f;
	text-decoration: none;
	line-height: 1.1rem;
	text-align: center;
}

.total-switch{
	display: flex;
	margin: auto;
}

button {
	cursor:pointer;
	border: none;
}
.main button{
	background-color:#9F9F9F;
	opacity: 0.2;
	border-radius: 5rem ;
	padding: 0 12px;
	font-size: 1.5rem;
	color: white;
}
	.main button:hover{
	border-radius: 5rem ;
	padding: 0 12px;
	font-size: 1.5rem;
	color: white;
	background-color: cadetblue;
	font-weight: bold;
	opacity : 1; 
	}

#up-arrow{
	border: 1px solid lightgrey;
	border-radius: 5rem;
	padding: 10px;
}

#down-arrow{
	border: 1px solid lightgrey;
	border-radius: 5rem;
	padding: 10px;
}

.total-count{
	width: 40px;
	margin: auto;
}



							/* sticky aside */
.totalAside {
	position: sticky;
	top: 195px;
	right: 40px;
	width: 20%;
	height: 350px;
	text-align: center;
	border-radius: 15px 15px;
	box-shadow :2px 2px rgba(240, 240, 245, 0.8);
  padding:20px;
  z-index:1;

}

.totalPx{
	padding-top: 10px;
	height:80px;
	align-items: center;
	margin: auto;
	font-size: 26px;
	color: rgba(0,0,0, .87);
	font-family: "Prompt" sans-serif;
}
.buttonsSide{
	display: block;
}
.videPanier{
	justify-items: center;
	align-items: center;
	margin-top: 5px;
}
.buttonVider {
  font-size: 14px;
  background-color: #f9f9f9;
  border: #f9f9f9 solid 0.5px;
  border-radius: 2rem;
}


.button-lien{
	padding-top: 10px;
	padding-bottom: 10px;
}
#button-lien{
	border-radius: 2rem;
	font-size: 18px;
	color: white;
	background-color: rgb(245,117,0) ;
	padding: 10px;
	
	
}
#button-lien:hover{
	padding: 11px 11px 10px 11px;
}

.fontAside {
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-size: 1.4rem;
	color: Grey;
	text-decoration: none;
	line-height: 1.1rem;
	text-align: center;
}
													/*Pied de page*/

.footer-distributed {
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	padding: 45px 50px;
	margin-top: 80px;
	display: flex;
	justify-content: space-between;
}
  
.footer-distributed .footer-left p {
	color: #8f9296;
	font-size: 14px;
	margin: 0;
}
  /* Footer links */
  
.footer-distributed p.footer-links {
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	margin: 0 0 10px;
	padding: 0;
	transition: ease .25s;
}
  
.footer-links a {
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
	color: inherit;
	transition: ease .25s;
}
  
.footer-distributed .footer-links a:before {
	content: "·";
	font-size: 20px;
	left: 0;
	color: #fff;
	display: inline-block;
	padding-right: 5px;
}
  
.footer-distributed .footer-links .link-1:before {
	content: none;
}
.footer-distributed .footer-right{
	padding-top: 3px;
}
.footer-distributed .footer-right a{
	text-decoration: none;
}

.footer-distributed .footer-right a img{
	margin-right: 5px;

}
.footer-distributed p.footer-links a:hover{text-decoration:underline;}


@media (max-width: 1280px) {
	.slide:nth-child(1) {
	  background-image: url("https://i.postimg.cc/x8t1Yz35/vaisseaux.jpg");
	  background-size: 1280px;
	}
	.slide:nth-child(2) {
	  background-image: url("https://i.postimg.cc/4yrp6qjj/paysage.jpg");
	  background-size: 1280px;
	}
	.slide:nth-child(3) {
	  background-image: url("https://i.postimg.cc/3R2yMNqf/planete.jpg");
	  background-size: 1280px;
	}

	.slide:nth-child(4) {
	  background-image: url("https://i.postimg.cc/FRbKWqf2/sun.jpg");
	  background-size: 1280px;
	}
	.banniere{
		height: 270px;
		overflow: hidden;
		margin-top:120px ;
	}
	.body{
			width: 1280px;
			justify-content: space-around;
	}
	.totalAside{
			width: 300px;
	}
	.topbar{
	  height:120px;
	}
	.topbar nav a{
	 	flex-direction: column;
	  display: block;
	 }
	.ligneArticles {
		display: flex;
		flex-flow: wrap ;
		justify-content: center;	
	}
	.site-title{
	  width: auto;
	  margin-left: 150px;
  }
}

@media (max-width: 1000px) {
	.footer-distributed .footer-left, .footer-distribute .footer-right  {
	  text-align: center;
	}
	.footer-distributed {
	  float: none;
	  margin: 0 auto 20px;
	}
	.footer-distributed .footer-left p.footer-links {
	  line-height: 1.8;
	}

	.slide:nth-child(1) {
	  background-image: url("https://i.postimg.cc/x8t1Yz35/vaisseaux.jpg");
	  background-size: 1000px;
	}
	.slide:nth-child(2) {
	  background-image: url("https://i.postimg.cc/4yrp6qjj/paysage.jpg");
	  background-size: 1000px;
	}
	.slide:nth-child(3) {
	  background-image: url("https://i.postimg.cc/3R2yMNqf/planete.jpg");
	  background-size: 1000px;
	}

	.slide:nth-child(4) {
	  background-image: url("https://i.postimg.cc/FRbKWqf2/sun.jpg");
	  background-size: 1000px;
	}
	.banniere{
		height: 280px;
		overflow: hidden;
		margin-top: 0;
	}
	.body{
		width: 1000px;
	}
	.totalAside{
		padding: 10px 10px 10px 10px ;
		width: 300px;
	}
  .topbar{
  	height:120px;    
  }
  #titreSite {
		height:30px;
  } 
  .site-title{
  	margin-left: 70px;
  }
}


@media (max-width: 940px) {
	.body{
		justify-content: center;
	}
	.main{
		width: 50%;
	}
	.container{
		margin-left: 0px;
	}
	.totalAside{
		padding: 10px 10px 10px 10px ;
		width: 200px;
	}
	.site-title{
		margin-left: 0px;
	}
	.topbar nav{
		padding-right: 0;
	}
}
@media (max-width: 680px) {
	.banniere{
		margin-top: 150px;
		height: 200px;
	}
	.slide:nth-child(1) {
	  background-image: url("https://i.postimg.cc/x8t1Yz35/vaisseaux.jpg");
	  background-size: 900px;
	}
	.slide:nth-child(2) {
	  background-image: url("https://i.postimg.cc/4yrp6qjj/paysage.jpg");
	  background-size: 900px;
	}
	.slide:nth-child(3) {
	  background-image: url("https://i.postimg.cc/3R2yMNqf/planete.jpg");
	  background-size: 900px;
	}

	.slide:nth-child(4) {
	  background-image: url("https://i.postimg.cc/FRbKWqf2/sun.jpg");
	  background-size: 900px;
	}
	
  .topbar{
    height:150px;
    padding-left: 5px;
  }
  .site-title{
  	width: 100px;
  	margin-left: 13%;
  	margin-top: 10px;
  }
  #titreSite{
  	display: none;
  }
  #logoSite{
  	width: 80px;

  	opacity: 0.7;
  }
  .body{
  	width: 100%;
  	display: block;
  	margin: auto;
  }
  .container{
  	width: 100%;
  	margin: auto;
  }

  .totalAside{
  	margin: auto;
  	width: 300px;
  }
  .main{
		width: 100%;
		margin: auto;
	}
	.footer-distributed {
	  float: none;
	  margin: 20px auto 20px;
	}
	.topbar nav {
    padding-left: 15px;
    width: 130px;
  }
 	.topbar nav a{
    margin: auto;
    padding-bottom: 15px;
  }

}